@font-face {
  font-family: "Space Grotesk";
  src: url(fonts/SpaceGrotesk.ttf);
}

@import "tailwindcss";

@theme {
  --font-grotesk: "Space Grotesk", sans-serif;
}

* {
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

